// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$artBlack: black;
$artWhite: white;
$artGrey: #f9faf9;
// logo
$artRed: #c1312e;
$artYellow: #f8f4bb;
$artAmaranto: #c38966;
// struttura
$artAmarantoScuro: #5b3e42;
$artGreen: #415109;
$artBlue: #535473;
$artAzur: #0177bf;
